# Local reference copy only - images are hotlinked from
# https://github.com/Televo/kingdom-hearts-recollection via jsDelivr instead
# of being committed here (see draft.html's ITEM_ICONS/CATEGORY_ICONS).
images/Kingdom Hearts ReCollection/
